{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="Pure Layers">
    <meta name="keywords" content="Dr. Fatma, Tribute, Gift, Memory">
    <meta name="robots" content="all">
    <title>{% block title %}Home{%endblock title%}</title>

    <style type="text/css" id="custom-background-css">
      body.custom-background { background-color: #505050; }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet' type='text/css'>
    {% if not DEBUG %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/nivo-slider.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/prettyPhoto.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/shortcodes.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/reset.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/clear.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/supersized.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/supersized.shutter.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/style2.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/style.css"/>
    {% else %}
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/big.file-1.css"/>
    {% endif %}
    <!--[if IE 7]><link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style-IE7.css" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/style-IE9.css" /><![endif]-->
    
    {% block css %}
    {% endblock css %}
    <!------------------------------------------------------------------>
    {% if DEBUG %}
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/shortcodes.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.easing.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/supersized.3.2.7.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/supersized.shutter.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.inputs.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/swfobject.js"></script>
    {% else %}
    <script type="text/javascript" src="{{STATIC_URL}}scripts/big.file-1.js"></script>
    {% endif %}
    
    {% block js %}
    {% endblock js %}
    
    {% if not DEBUG %}
    <script type="text/javascript" src="{{STATIC_URL}}scripts/functions.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/collected-script.js"></script>
    {% else %}
    <script type="text/javascript" src="{{STATIC_URL}}scripts/big.file-2.js"></script>
    {% endif %}
  </head>

  <body class="archive category category-portfolio category-4 custom-background">

    <div class="container">
      <!-- header start -->
      <div class="header">
        <!-- logo start -->
        <div class><a href="#"></a></div>
        <!-- logo end -->
        <!-- navigation start -->
        <div class="navigation" style="top: -61.5px; display: block; opacity: 1;">
          <!-- menu start -->
          <ul id="menu-main-menu" class="menu">
            <li id="menu-item-4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4">
              <a href="/">Home</a>
            </li>
            <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7">
              <a href="/quotes/" class="theme_color_1" style="">Quotes</a>
            </li>
            <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9">
              <a href="#">Memories</a>
              <ul class="sub-menu" style="display: none;">
                <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29">
                  <a href="{% url 'memories' memories_group='SE-2009' %}">SE 2009</a>
                </li>
                <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
                  <a href="{% url 'memories' memories_group='SE-2010' %}">SE 2010</a>
                </li>
                <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51">
                  <a href="{% url 'memories' memories_group='SE-2011' %}">SE 2011</a>
                </li>
                <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                  <a href="{% url 'memories' memories_group='SE-2012' %}">SE 2012</a>
                </li>
                <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
                  <a href="{% url 'memories' memories_group='SE-2013' %}">SE 2013</a>
                </li>
              </ul>
            </li>
            {% comment %}
            <li id="menu-item-5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5">
              <a href="/about">About</a>
            </li>
            {% endcomment %}
          </ul>
          <!-- menu end -->
        </div>
        <!-- navigation end -->
      </div>
      <!-- header end -->



      {% block content %}
      {% endblock content %}

      <!-- footer start -->
      <div class="footer" style="opacity: 1;">
        <ul class="social">
        </ul>
        <div class="copyright">
          <p>Thanks to Eman El-Koshairy, Ramy Wafa, Mohamed Khamis, Ahmed Abousafy, Mohamed Tarek 'T', Karim Tarek, & Special thanks to Hadeer Younis</p>
        </div>
      </div>
      <!-- footer end -->
    </div>
    <div id="supersized-loader"></div>
    <ul id="supersized"></ul>
  </body>
</html>
