
/**************************************************
	COMMENTS
**************************************************/

ol.commentlist li p {
	margin-top: -25px;
	clear: both;
}

/**************************************************
	NAVIGATION - BLOG
**************************************************/

.nav.blog .navMask ul.navContent {
	float: right;
}

/**************************************************
	NAVIGATION - PORTFOLIO
**************************************************/

.content.portfolio-03 div.item h2 {
	top: 0px;
}
