{% extends 'blog_main.html' %}
{% block title %}{{ post.title}}{% endblock title %}
{% block content %}
    <ul id="pagination">
        {% if  previous_post %}
            <li id="previous">
                <a href="{{ previous_post.link }}">{{previous_post.title}}</a>
            </li>
        {% endif %}
        {% if  next_post %}
            <li id="next">
                <a href="{{ next_post.link }}">{{next_post.title}}</a>
            </li>
        {% endif %}
    </ul>

    {% if success_msg %}
        <p class="success">success_msg</p>
    {% endif %}
     
    {% include 'tags/display.html' with post=post as='full' %}
    
    
        <h3>Post a comment</h3>
        <form action="{% url post_comment blog_id=blog.id post_id=post.id %}" method="POST">
            {% comment %}
                {% csrf_token %}
                {% if comment_form.content.errors %}
                    <p class="error">
                        {% for error in comment_form.content.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>
                    {{ comment_form.content.label_tag }} {{ comment_form.content }}
                </p>
                <p>
                    <input type="submit" value="Submit your comment" />
                </p>
            {% endcomment %}
            {% csrf_token %}
            <fieldset>
						  	<legend>Log in</legend>
						  	{% if user.is_anonymous %}
										{% if comment_form.author_title.errors %}
						    				<div class="control-group error">
						    		{% else %}
								    		<div class="control-group">
						    		{% endif %}
						      			<label class="control-label" >{{ comment_form.author_title.label }}</label>
						      			<div class="controls">
						        				{{ comment_form.author_title }}
						        				{% if comment_form.author_title.errors %}
						        						<p class="help-block">{{ comment_form.author_title.errors }}</p>
						        				{% else %}
						        						<p class="inline-help">{{ comment_form.author_title.help_text }}</p>
						        				{% endif %}
						      			</div>
						    		</div>
								{% endif %}
						    		{% if comment_form.content.errors %}
						    				<div class="control-group error">
						    		{% else %}
								    		<div class="control-group">
						    		{% endif %}
						      			<label class="control-label" >{{ comment_form.content.label }}</label>
						      			<div class="controls">
						        				{{ comment_form.content }}
						        				{% if comment_form.content.errors %}
						        						<p class="help-block">{{ comment_form.content.errors }}</p>
						        				{% else %}
						        						<p class="inline-help">{{ comment_form.content.help_text }}</p>
						        				{% endif %}
						      			</div>
						    		</div>
								<button type="submit" class="btn btn-success">Comment</button>
								<button type="reset" class="btn btn-danger">Reset</button>
						</fieldset>
        </form>
    
{% endblock content %}