{% extends 'mainapp/main_layout.html' %}

{% load url from future %}

{% block title %}Quotes About Dr. Fatma{% endblock title %}
{% block js %}
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Life+Savers:700' rel='stylesheet' type='text/css'>
  <script>
    var getNewQuotesURL = "{%url 'get_new_quotes'%}";
    var checkForNewQuotesURL = "{%url 'check_for_new_quotes'%}";
    var getQuoteContentURL = "{%url 'quote' quote_id="0"%}";
  </script>
{% endblock js %}
{% block css %}
  <style>
    #complete-quote-content .quote-content {
      font-family : 'Crafty Girls';
      font-size   : 16px;
      text-shadow : 0px 0px 0px #aaa;
      margin      : 10px 10px 10px 10px;
      background-color:rgba(100,100,100,0.1)
    }
    #complete-quote-content span{
      text-shadow : 4px 4px 4px #aaa;
      font-family : 'Life Savers';
      font-size   : 20px;
      margin      : 10px 10px 10px 10px;
      direction   : auto;
    }
  </style>
{% endblock css%}
{% block content %}
  {% include 'mainapp/tags/slideshow.html' with images_count=images_count MEDIA_URL=MEDIA_URL %}
  <!-- content start -->
  <div class="content">
    
    <div class="nav blog" style="">
      <div class="navMask">      
        <ul class="navContent" style="">
          <li class="paging"></li>
          {% for quote in all_quotes%}
            <li>
              <a id="quote-{{quote.id}}" href="#" style="">
                {{quote.content|slice:":30"|add:". . ."}}
                <span>Name: {{quote.owner_name}}</span>
              </a>
            </li>
           {% endfor %}
          <li id="progress-quote" style="display: none;">
            <a href="#" style="">
                loading . . .
                <span class="date">Name: loading . . .</span>
              </a>
          </li>
          <li class="paging"></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- content end -->
  <div id="complete-quote-content" class="theme_color_1" style="display: none;">
    <div class="loading" style="">
      <img src="{{STATIC_URL}}imgs/loading.gif" alt="Loading">
    </div>
    <center><p class="quote-content"></p></center>
    <br />
    <center><span class="date"></span></center>
  </div>
  <script>
    var currentQuoteRequest;
    var opacityTimer;
    function templateTheQuoetContent(data) {
      $("#complete-quote-content").find('.quote-content').text(data.quote_content);
      if(/^[\x00-\xFF]{2}/.test(data.quote_content)) {
        $("#complete-quote-content").find('p').css({
          direction: "ltr"
        });
      } else {
        $("#complete-quote-content").find('p').css({
          direction: "rtl"
        });      
      }
      $("#complete-quote-content").find('span').text(data.owner_name);
    }
    function getQuoteContent(quoteID) {
     if (currentQuoteRequest) {
      currentQuoteRequest.abort();
     }
     quoteID = quoteID.split('-')[1];
      currentQuoteRequest = $.ajax({
        url: getQuoteContentURL.slice(0, getQuoteContentURL.length - 1) + quoteID,
        data: {},
      })
      .done(function(data, textStatus, jqXHR) {
        templateTheQuoetContent(data);
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        $("#complete-quote-content").fadeOut();
      })
      .always(function (jqXHR, textStatus, errorThrown) {
        $("#complete-quote-content div.loading").fadeOut();
      });
    }
    $('.nav.blog .navMask .navContent li a').click(function(){
      var self = $(this);
      var quoteDiv = $('#complete-quote-content');
      var startright = 0;
      $.each($('.nav.blog .navMask .navContent li a'), function(){
        var self = $(this);
        if(self.width() > startright) {
          startright = self.width()
        }
      });
      var startleft = $('#menu-main-menu>li').width();
      var freewidth = $(window).width() - (startright + startleft);
      $('#complete-quote-content').css({
          left     : startleft + 10,
          width    : freewidth - 40,
          height   : $(window).height() / 2,
          top      : $(window).height() / 4,
          opacity  : 1,
          position : 'absolute'
      });
      opacityTimer = setTimeout("$('#complete-quote-content').animate({opacity: 0.5}, {duration: 500, queue: false})", 3000);
      $('#complete-quote-content').fadeOut(10, 'linear').fadeIn("fast");
      $("#complete-quote-content div.loading").fadeIn();
      getQuoteContent(self.attr("id"));
    });
    $("#complete-quote-content").hover(function(){
      var self = $(this);
      self.animate({opacity: 1}, {duration: 500, queue: false});
      if(opacityTimer) {
        clearTimeout(opacityTimer);
        opacityTimer = 0;
      }
    },
    function(){
      var self = $(this);
      self.animate({opacity: 0.5}, {duration: 500, queue: false});
      if(opacityTimer) {
        clearTimeout(opacityTimer);
        opacityTimer = 0;
      }
    });
  </script>
{% include 'mainapp/tags/navigation-arrows.html' with STATIC_URL=STATIC_URL %}
{% endblock content %}
